
<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://www.phonegap.com/ns/1.0"
    id        = "com.ssdn.mba"
    version   = "1.0.0">
    <name>Su Socio de Negocios</name>
    
    <description>
        Su Socio de Negocios
    </description>
    
    <author href="http://susociodenegocios.com" email="pketonen@elclasificado.com">
       EC Hispanic Media
    </author>
    
  
</widget>