
<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://susociodenegocios.com"
    id        = "com.ssdn.mba"
    version   = "2.0.0">
    <name>Su Socio de Negocios</name>
    
    <description>
        Su Socio de Negocios
    </description>
    
    <author href="http://susociodenegocios.com" email="pketonen@elclasificado.com">
        Apache Cordova Team
    </author>
    
    <icon src="res/icon/icon.png"        width="512" height="512" />
    
    <icon src="res/icon/icon@2x.png"    width="144" height="144" gap:platform="ios" />
    
  
<gap:splash src="splash.png"/>
   
    
    <feature name="http://api.phonegap.com/1.0/device" />
    
    <preference name="phonegap-version" value="1.9.0" />
    <preference name="orientation"      value="default" />
    <preference name="target-device"    value="universal" />
    <preference name="fullscreen"       value="false" />
</widget>